<div class="header flx jcb aic">
  <h3 class="flx aic">
    <span class="material-symbols-outlined">{{activeModule.icon}}</span>
    <span>{{content.modules.finances.title}}</span>
  </h3>

  <div class="flx aic">
    <button class="btn btn-box btn-bthr flx jcc aic" title="{{content.modules.finances.budget}}" routerLink="budget">
      <span class="material-symbols-outlined">request_quote</span>
    </button>
    <button class="btn btn-box btn-bthr flx jcc aic" title="" disabled>
      <span class="material-symbols-outlined">alarm_on</span>
    </button>
    <button class="btn btn-box btn-bthr flx jcc aic" title="" disabled>
      <span class="material-symbols-outlined">backup</span>
    </button>
    <button class="btn btn-box btn-bthr flx jcc aic" title="{{content.modules.finances.settings}}" routerLink="settings">
      <span class="material-symbols-outlined">settings</span>
    </button>
    <button class="btn btn-box btn-bthr flx jcc aic" title="" disabled>
      <span class="material-symbols-outlined">filter_alt</span>
    </button>
  </div>
</div>

<app-navigation></app-navigation>

<div class="flx jca wrp">
  <div class="monitor-box flx col">
    <span class="monitor-title">{{content.modules.finances.incomeBudget}}</span>
    <span class="monitor-value mono tar">
      {{ boxBudget?.income / 100 | number: '1.2-2' }} {{mainCurrency?.currency?.iso || ''}}
    </span>
  </div>
  <div class="monitor-box flx col">
    <span class="monitor-title">{{content.modules.finances.savingBudget}}</span>
    <span class="monitor-value mono tar">
      {{ boxBudget?.saving / 100 | number: '1.2-2' }} {{mainCurrency?.currency?.iso || ''}}
    </span>
  </div>
  <div class="monitor-box flx col">
    <span class="monitor-title">{{content.modules.finances.expenseBudget}}</span>
    <span class="monitor-value mono tar">
      {{ boxBudget?.expense / 100 | number: '1.2-2' }} {{mainCurrency?.currency?.iso || ''}}
    </span>
  </div>
  <div class="monitor-box flx col">
    <span class="monitor-title">{{content.modules.finances.reserveBudget}}</span>
    <span class="monitor-value mono tar">
      {{ boxBudget?.reserve / 100 | number: '1.2-2' }} {{mainCurrency?.currency?.iso || ''}}
    </span>
  </div>
</div>

<div class="flx jca wrp">
  <div class="monitor-box flx col">
    <span class="monitor-title">{{content.modules.finances.incomeTotal}}</span>
    <span class="monitor-value mono tar">
      {{ boxTotal?.income / 100 | number: '1.2-2' }} {{mainCurrency?.currency?.iso || ''}}
    </span>
  </div>
  <div class="monitor-box flx col">
    <span class="monitor-title">{{content.modules.finances.savingTotal}}</span>
    <span class="monitor-value mono tar">
      {{ boxTotal?.saving / 100 | number: '1.2-2' }} {{mainCurrency?.currency?.iso || ''}}
    </span>
  </div>
  <div class="monitor-box flx col">
    <span class="monitor-title">{{content.modules.finances.expenseTotal}}</span>
    <span class="monitor-value mono tar">
      {{ boxTotal?.expense / 100 | number: '1.2-2' }} {{mainCurrency?.currency?.iso || ''}}
    </span>
  </div>
  <div class="monitor-box flx col">
    <span class="monitor-title">{{content.modules.finances.reserveTotal}}</span>
    <span class="monitor-value mono tar">
      {{ boxTotal?.reserve / 100 | number: '1.2-2' }} {{mainCurrency?.currency?.iso || ''}}
    </span>
  </div>
</div>

<div class="flx jcc wrp">
  <button class="btn btn-lrg btn-bthr" disabled>Cambio</button>
  <button class="btn btn-lrg btn-bthr" routerLink="transaction/payment">Pago</button>
  <button class="btn btn-lrg btn-bthr" routerLink="transaction/transfer">Transferencia</button>
</div>


<div class="flx jcb aic">
  <h4>{{content.modules.finances.bankStatement}}</h4>
</div>

<div class="table-container flx">
  <table [cellSpacing]="0">
    <thead>
      <th>{{content.tag.account}}</th>
      <th>{{content.tag.name}}</th>
      <th>{{content.tag.type}}</th>
      <th>{{content.tag.balance}}</th>
      <th class="col-10"></th>
    </thead>
    <tbody *ngIf="walletList.length > 0">
      <tr *ngFor="let item of walletList">
        <td>{{item.account.name}}</td>
        <td>{{item.name}}</td>
        <td>{{content.catalogue.walletType[item.type]}}</td>
        <td class="tar">{{item.balance / 100 | number: '1.2-2'}} {{item.account.currency.iso}}</td>
        <td class="flx jcc aic">
          <button class="btn btn-box btn-bthr flx jcc aic" routerLink="wallet/{{item.id}}/payment-detail">
            <span class="material-symbols-outlined">info</span>
          </button>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="walletList.length === 0">
      <tr>
        <td class="tac" colspan="5">{{content.tag.noRows}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="flx jcb aic">
  <h4>{{content.modules.finances.categoryExpenses}}</h4>
</div>

<div class="table-container flx">
  <table [cellSpacing]="0">
    <thead>
      <th>{{content.tag.group}}</th>
      <th>{{content.tag.category}}</th>
      <th>{{content.tag.type}}</th>
      <th>{{content.tag.budget}}</th>
      <th>{{content.tag.accumulated}}</th>
      <th>{{content.tag.spent}}</th>
      <th class="col-10"></th>
    </thead>
    <tbody *ngIf="categoryList.length > 0">
      <tr *ngFor="let item of categoryList">
        <td>{{item.group}}</td>
        <td>{{item.category}}</td>
        <td>{{content.catalogue.categoryType[item.type]}}</td>
        <td class="tar">{{item.budget / 100 | number: '1.2-2'}} {{mainCurrency.currency.iso}}</td>
        <td class="tar">{{item.accumulated / 100 | number: '1.2-2'}} {{mainCurrency.currency.iso}}</td>
        <td class="tar">{{item.spent / 100 | number: '1.2-2'}} {{mainCurrency.currency.iso}}</td>
        <td class="flx jcc aic">
          <button class="btn btn-box btn-bthr flx jcc aic" routerLink="category/{{item.id}}/transaction-detail" disabled>
            <span class="material-symbols-outlined">info</span>
          </button>
        </td>
      </tr>
    </tbody> 
    <tbody *ngIf="categoryList.length === 0">
      <tr>
        <td class="tac" colspan="7">{{content.tag.noRows}}</td>
      </tr>
    </tbody>
  </table>
</div>
