.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.4);
  z-index: 200;

  &-container {
    width: 35%;
    min-width: 320px;
    background-color: $black;
    border: 1px solid $color-one;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba($black, 0.6);
  }

  &-header {
    height: 45px;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 400;
  }

  &-body,
  &-footer {
    padding: 10px;
  }
}
