// black and white
$black: #161616;
$white: #f6f6f6;

// main colors
$color-one-light: #06aeff;
$color-one: #02377a;
$color-one-dark: #0a1d36;

$color-two-light: #840aff;
$color-two: #550a7c;
$color-two-dark: #24113a;

$color-thr-light: #ff0a7f;
$color-thr: #76093d;
$color-thr-dark: #350f21;

// google
$color-goo: #DE4033;

// status colors
$success: #00ce15;
$warning: #ce8100;
$error: #ce0000;

// fonts
$font-sans: 'Montserrat', sans-serif;
$font-serf: 'Italiana', serif;
$font-curs: 'Abril Fatface', cursive;
$font-mono: 'Courier Prime', monospace;

// sidebar measures
$sbw-sml: 40px;
$sbw-lrg: 230px;

// utils
$transition: 0.4s linear;
